body {
    background: #EEE;
}

a {
    color: #036;
}

h1 {
    color: #800;
}

h2, h3, h4, h5, h6 {
    color: #333;
}

h2 {
    font-size: 1.2em;
}

.page {
    margin: 2em auto;
    width: 35em;
    border: 5px solid #bbb;
    padding: 0.8em;
    background: #f8f8ff;
    font-family: Helvetica;
}

textarea {
    width: 35em;
    height: 20em;
}

.entries {
    list-style: none;
    position: absolute;
    left: 1em;
    width: 20%;
    height: 100%;
    padding: 0;
}

.entries li {
    margin-left: 1em;
    margin: 0.8em 1.2em;
}

.entries li h2 {
    margin-left: -1em;
}

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #CCC;
}

.add-entry dl {
    font-weight: bold;
}

.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
}

.page-title {
    text-align: left;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
}

.flash {
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
}

.error {
    background: #F0D6D6;
    padding: 0.5em;
}

.header {
    background-color: white;
    border: 2px solid #036;
}

pre {
    margin-left: 1em;
    background: white;
    border: 2px solid #036;
}

code {
    margin-left: 0.8em;
    margin-right: 1.2em;
}

.header h1 {
    margin-left: 1em;
    color: #036;
}

.header a {
    text-decoration: none;
}