{% extends "layout.html" %}
{% block body %}

{% if session.logged_in %}

<form action="{{ url_for('edit_entry', title=entry.pretty_title) }}" method=post class=edit-entry>
  <dl>
    <dd><h1>{{ entry.title }}</h1></dd>
    <dt>
      <dd>
	<textarea name=text>{{ markdown_text }}</textarea>
      </dd>
      <dd>
	<input type=submit value=Save>
	  <a href="{{ url_for('view_entry', title=entry.pretty_title) }}">Cancel</a>
	</input>
      </dd>
    </dt>
  </dl>
</form>

{% endif %}
{% endblock %}
