{% extends "layout.html" %}
{% block body %}

{% if session.logged_in %}

<form action="{{ url_for('edit_entry', title=entry.pretty_title) }}" method=post class=edit-entry>
<h1>{{ entry.title }}</h1>
<p>
        <textarea name=text>{{ markdown_text }}</textarea>
      </p>
      <p>
        Allowed user groups:
      </p>
      <p>
        <input name=allowed_user_groups type=text value={{ entry.allowed_user_groups }}>
        </input>
      </p>
      <p>
        <input type=submit value=Save>
        <a href="{{ url_for('view_entry', title=entry.pretty_title) }}">Cancel</a>
        </input>
      </p>
</form>

{% endif %}
{% endblock %}
