<!doctype html>
<title>Archer</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"></link>

<div class="header">
  <a href="/">
    <h1>Archer</h1>
  </a>
</div>
<div class=metanav>
  {% if not session.logged_in %}
  <a href="{{ url_for('login') }}">Log In</a>
  {% elif session.user_group_name == 'admin_users' %}
  <a href="{{ url_for('show_add_user') }}">Add User</a>
  <a href="{{ url_for('show_add_entry') }}">Add Page</a>
  <a href="{{ url_for('show_users') }}">Show Users</a>
  <a href="{{ url_for('logout') }}">Log Out</a>
  {% elif session.user_group_name != 'admin_users' %}
  <a href="{{ url_for('logout') }}">Log Out</a>
  {% else %}
  {% endif %}
</div>

<div class=page>
  {% for message in get_flashed_messages() %}
  <div class=flash>
    {{ message }}
  </div>
  {% endfor %}

  <select class=entries
	  name="nav-menu"
	  onchange="location = this.options[this.selectedIndex].value;">
    <option value="/"><a href="/">Home</a></li>
    {% for entry in entries %}
    <option value="{{ url_for('view_entry', title=entry.pretty_title) }}">
      <a href="{{ url_for('view_entry', title=entry.pretty_title) }}">
	{{entry.title}}
      </a>
    </option>
    {% endfor %}
  </select>

<br />
<br />
<br />

  <noscript>
    <ul class=entries>
    <li><a href="/">Home</a></li>
    {% for entry in entries %}
    <li>
      <a href="{{ url_for('view_entry', title=entry.pretty_title) }}">
	<strong>{{ entry.title }}</strong>
      </a>
    </li>
    {% endfor %}
  </ul>
  </noscript>
  
  {% block body %}
  {% endblock %}

</div>
