{% extends "layout.html" %}
{% block body %}

{% if session.user_group_name == 'console_users' %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='console-users.css') }}"></link>
{% endif %}

{% if session.user_group_name == 'publisher_users' %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='publisher-users.css') }}"></link>
{% endif %}

{% if session.user_group_name == 'admin_users' %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='admin-users.css') }}"></link>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='console-users.css') }}"></link>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='publisher-users.css') }}"></link>
{% endif %}

{% if session.user_group_name == 'admin_users' %}
<div class="page-actions">
  <ul>
    <li>
      <a href="/edit/{{ entry.pretty_title }}">Edit</a>
    </li>
    <li>
      <a href="/archive/{{ entry.pretty_title }}">Archive</a>
    </li>
  </ul>
</div>
{% endif %}

<div class="page-text">
  {{ entry_html|safe }}
</div>

<hr />

<div class=page-attributes>
  <p>
    Page attributes:
    <ul>
      <li>
        Allowed user groups: {{ entry.allowed_user_groups }}
      </li>
    </ul>
  </p>
</div>

{% if session.logged_in %}
<div class=user-attributes>
  <p>
    User attributes:
    <ul>
      <li>
        username: {{ session.username }}
      </li>
      <li>
        user groups: {{ session.user_group_name }}
      </li>
    </ul>
  </p>
</div>
{% endif %}

{% endblock %}
