{% extends "layout.html" %}
{% block body %}

{% if session.user_group_name == 'console_users' %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='console-users.css') }}"></link>
{% endif %}

{% if session.user_group_name == 'publisher_users' %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='publisher-users.css') }}"></link>
{% endif %}

{% if session.user_group_name == 'admin_users' %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='admin-users.css') }}"></link>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='console-users.css') }}"></link>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='publisher-users.css') }}"></link>
{% endif %}

{% if session.user_group_name == 'admin_users' %}
<div class=page-actions>
  <ul>
    <li>
      <a href="/edit/{{ entry.pretty_title }}">Edit</a>
    </li>
    <li>
      <a href="/archive/{{ entry.pretty_title }}">Archive</a>
    </li>
  </ul>
</div>
{% endif %}

<div class=page-text>
  {{ entry_html|safe }}
</div>

{% endblock %}
